*{
   margin: 0;
   padding: 0;
   font-family: "Ubunto",sans-serif;
   box-sizing: border-box;
   text-decoration: none;

}
body{
    height: 100vh;
    background: url(dev.jpg) no-repeat center;
    background-size:cover ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;

 
}
.card-header{
   background: 

   rgb(0, 84, 107)
   ;
   padding: 100px 40px;

}
.pic{
   display: inline-block;
   padding: 5px;
   background:black;
   margin: auto;
   border-radius: 50%;
   animation: animated-gradient 2s linear infinite;
}
.pic img{
   display: block;
   width: 100px;
   height: 120px;
   border-radius: 50%;
}
.name{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;

}
.desc{
   font-size: 18px;
   color: brown;

}
.sn{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.sn a{
    color:black;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}